{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["last 2 Chrome versions"]
            }
        }],
        "react"
    ],
    // https://mobx.js.org/best/decorators.html
    "plugins": ["transform-decorators-legacy", "transform-class-properties"]
}
