body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

.display-none {
    display: none;
}
/* .star-btn-icon:hover:before{
    content:'Star ';
    white-space: pre;
}

.subscribe-btn-icon:hover:before{
    content:'Subscribe ';
    white-space: pre;
} */

.has-bg-img {
    --tint: rgba(1, 100, 85, 0.93);
    background-image: linear-gradient(var(--tint), var(--tint)), url(../public/background.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.has-bg-img > * {
}